<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <h2 class="title is-2">Edit My Info</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <div class="field">
            <div class="control">
              <label for="image" class="label">Avatar</label>
              <img class='hidden' id="selected_image">
              <div class="file">
                <label class="file-label is-full-width">
                  <input class="file-input" type="file" id="upload_new_image">
                  <%= f.input :avatar,
                              input_html: { class: "hidden new_image" },
                              label: false,
                              wrapper: false %>
                  <span class="file-cta is-half-width">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload
                    </span>
                  </span>
                  <button class="button is-danger file-cta-remove is-half-width" id="delete_author_avatar">Remove</button>
                </label>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :email,
                        input_html: { autocomplete: "email", class: "input" },
                        label_html: { class: "label" },
                        wrapper: false,
                        error: false %>
            </div>
            <% unless resource.errors[:email].empty? %>
              <p class="help is-danger">Please enter a valid e-mail.</p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :username,
                        input_html: { autocomplete: "username", class: "input" },
                        label_html: { class: "label" },
                        wrapper: false,
                        error: false %>
            </div>
            <% unless resource.errors[:username].empty? %>
              <p class="help is-danger">The username is taken or empty.</p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "new-password" , class: "input" },
                        label_html: { class: "label" },
                        wrapper: false,
                        error: false %>
            </div>
            <% unless resource.errors[:password].empty? %>
              <p class="help is-danger">The password is too short, minimum 6 characters.</p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" , class: "input" },
                        label_html: { class: "label" },
                        wrapper: false,
                        error: false %>
            </div>
            <% unless resource.errors[:password_confirmation].empty? %>
              <p class="help is-danger">The passwords do not match.</p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :current_password,
                        required: true,
                        input_html: { autocomplete: "current-password" , class: "input" },
                        label_html: { class: "label" },
                        wrapper: false,
                        error: false %>
            </div>
            <% unless resource.errors[:current_password].empty? %>
              <p class="help is-danger">You must supply your current password.</p>
            <% else %>
              <p class="help is-danger">Required to apply changes.</p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
            <%= f.button :submit, "Update", class: "button is-primary" %>
            </div>
          </div>
        <% end %>

        <br />

          <div class="field">
            <div class="control">
              <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= link_to "Take me back", :back, class: "button is-link" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'profileImage' %>