<article class="media">
  <div class="media-left">
    <figure class="image is-96x96">
      <img src='<%= current_author.avatar %>' alt='<%= current_author.username %>'>
    </figure>
  </div>
  <div class="media-content">
    <%= simple_form_for(Comment.new, html: {class: "is-relative"}) do |f| %>
      <%= hidden_field_tag "article", article %>
      <%= hidden_field_tag "type", type %>
      <%= hidden_field_tag "id", id %>
      <div class="field">
        <div class="control">
        <%= f.input :body,
                    required: true,
                    autofocus: true,
                    input_html: { class: "input comment__input" },
                    label: false,
                    wrapper: false,
                    error: false %>
        </div>
      </div>

      <%= f.submit "Send", class: "button is-link is-small comment__button" %>
    <% end %>
  </div>
</article>