<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2">Log in</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field">
            <div class="control">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "input" },
                        label_html: { class: "label" },
                        wrapper: false,
                        error: false %>
            </div>
            <% unless resource.errors[:email].empty? %>
              <p class="help is-danger">Please enter a valid e-mail.</p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password,
                        required: true,
                        input_html: { autocomplete: "current-password", class: "input" },
                        label_html: { class: "label" },
                        wrapper: false,
                        error: false %>
            </div>
            <% unless resource.errors[:password].empty? %>
              <p class="help is-danger">The password is too short, minimum 6 characters.</p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.button :submit, "Log in", class: "button is-primary" %>
            </div>
          </div>
        <% end %>
        <br />
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>